<!DOCTYPE html>
<link rel="stylesheet" href="https://skkwiw72.github.io/js/register-teme.css">



<!-- Path: cliled/cliledcontactos/templates/results.html -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Gracias por ser parte de Cliled!</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Web</th>
                    <th>Numero de telefono</th>
                    <th>Cantidad de Reseñas</th>
                    <th>Calificacion</th>
                    <!-- Agrega las demás columnas según tu modelo -->
                </tr>
            </thead>
            <tbody>
                {% for _, row in resultados.iterrows %}
                    <tr>
                        <td>{{ row.Names }}</td>
                        <td>{{ row.Website }}</td>
                        <td>{{ row.Phone_Number }}</td>
                        <td>{{ row.Review_Count}}</td>
                        <td>{{ row.Average_Review_Count}}</td>

                        <!-- Agrega las demás columnas según tu modelo -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://skkwiw72.github.io/js/boostrap.js"></script>

<script src="https://skkwiw72.github.io/js/jquery.dataTables.min.js"></script>
<script src="https://skkwiw72.github.io/js/dataTables.bootstrap4.min.js"></script>
<script src="https://skkwiw72.github.io/js/dataTables.responsive.min.js"></script>
<script src="https://skkwiw72.github.io/js/responsive.bootstrap4.min.js"></script>
<script src="https://skkwiw72.github.io/js/dataTables.buttons.min.js"></script>
<script src="https://skkwiw72.github.io/js/buttons.bootstrap4.min.js"></script>
<script src="https://skkwiw72.github.io/js/jszip.min.js"></script>
<script src="https://skkwiw72.github.io/js/pdfmake.min.js"></script>
<script src="https://skkwiw72.github.io/js/vfs_fonts.js"></script>
<script src="https://skkwiw72.github.io/js/buttons.html5.min.js"></script>
<script src="https://skkwiw72.github.io/js/buttons.print.min.js"></script>
<script src="https://skkwiw72.github.io/js/buttons.colVis.min.js"></script>
<script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
