<!DOCTYPE html><!-- Last Published: Thu Feb 29 2024 09:36:37 GMT+0000 (Coordinated Universal Time) -->
<html data-wf-domain="werklig.com" data-wf-page="61cdf5005d1eb2805582925d" data-wf-site="61bdfd63c9edd69068489257"
  lang="en">

<head>
  <meta charset="utf-8" />
  <title>Contacto Cliled</title>
  <meta
    content="We are based in Helsinki Finland, and speak five languages. Best of all, we work for clients of any sizes and all walks of life."
    name="description" />
  <meta content="Contact Werklig about branding" property="og:title" />
  <meta
    content="We are based in Helsinki Finland, and speak five languages. Best of all, we work for clients of any sizes and all walks of life."
    property="og:description" />
  <meta
    content="https://assets-global.website-files.com/61bdfd63c9edd69068489257/61f3d27db3298a3f036d829d_Werklig_cover_contact.jpg"
    property="og:image" />
  <meta content="Contact Werklig about branding" property="twitter:title" />
  <meta
    content="We are based in Helsinki Finland, and speak five languages. Best of all, we work for clients of any sizes and all walks of life."
    property="twitter:description" />
  <meta
    content="https://assets-global.website-files.com/61bdfd63c9edd69068489257/61f3d27db3298a3f036d829d_Werklig_cover_contact.jpg"
    property="twitter:image" />
  <meta property="og:type" content="website" />
  <meta content="summary_large_image" name="twitter:card" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link
    href="https://assets-global.website-files.com/61bdfd63c9edd69068489257/css/werklig-com.webflow.afe2b907e.min.css"
    rel="stylesheet" type="text/css" />
  <script
    type="text/javascript">!function (o, c) { var n = c.documentElement, t = " w-mod-"; n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch") }(window, document);</script>
   <link rel="apple-touch-icon" sizes="180x180" href="https://skkwiw72.github.io/js/letra-c%20apple.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://skkwiw72.github.io/js/c%2032%20bits.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://skkwiw72.github.io/js/letra-c%2016.png">
  <style>
    body {
      overflow-x: hidden;
    }

    iframe {
      border: 0;
    }

    .w-richtext:before,
    .w-richtext:after {
      content: none;
    }

    blockquote em {
      width: 100%;
      font-size: 1rem;
      font-family: Suisseintl;
    }

    p:last-child,
    ul:last-child,
    ol:last-child {
      margin-bottom: 0;
    }
  </style>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
  </script>
  <script>
    window.werklig = window.werklig || {};

    werklig.saveConsent = function (value) {
      var date = new Date(Date.now() + (2 * 24 * 60 * 60 * 1000));
      var expires = "; expires=" + date.toUTCString();
      document.cookie = "w_consent" + "=" + value + expires + "; path=/";
      gtag('consent', 'update', {
        'ad_storage': value,
        'analytics_storage': value
      });
    }

    werklig.getConsent = function () {
      if (document.cookie.length > 0) {
        c_start = document.cookie.indexOf('w_consent' + "=");
        if (c_start != -1) {
          c_start = c_start + 'w_consent'.length + 1;
          c_end = document.cookie.indexOf(";", c_start);
          if (c_end == -1) {
            c_end = document.cookie.length;
          }
          return unescape(document.cookie.substring(c_start, c_end));
        }
      }
      return false;
    }

    werklig.initConsent = function () {
      var consent = werklig.getConsent();
      if (consent === false) {
        //document.querySelector('#cookieBanner').style.transform = 'translate3d(0px, 0px, 0px)';
        werklig.cookieBannerInit = 'show';
        gtag('consent', 'default', {
          'ad_storage': 'denied',
          'analytics_storage': 'denied'
        });
      } else {
        //document.querySelector('#cookieBanner').style.transform = 'translate3d(0px, 100%, 0px)';
        werklig.cookieBannerInit = 'hide';
        if (consent === 'granted') {
          dataLayer.push({ 'event': 'w_consent_granted' });
        } else {
          dataLayer.push({ 'event': 'w_consent_deny' });
        }
        gtag('consent', 'update', {
          'ad_storage': consent,
          'analytics_storage': consent
        });
      }
      werklig.initCookieBanner();
    }
  </script>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-PT3K6RC');</script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <div class="w-embed w-iframe"><!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PT3K6RC" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  </div>
  <div class="page">
    <nav class="nav">
      <div class="navbuttons w-clearfix">
        <a href="/" aria-current="page" class="menu menulogo w--current"></a>
        <div
          id="w-node-bdcSS0dd58-fd2c-aebb-c852-0ebfc2045ad3-c2045ad2"
          data-w-id="bdc0dd58-fd2c-aebb-c852-0ebfc2045ad3"
          class="menu menuopen"
        >
          Menu
        </div>
        <div
          id="w-node-bdc0dd58-fd2c-aebb-c852-0ebfc2045ae3-c2045ad2"
          data-w-id="bdc0dd58-fd2c-aebb-c852-0ebfc2045ae3"
          class="menu menuopen menuclose"
        >
          close
        </div>
      </div>
      <div class="mainmenu">
        <ul role="list" class="menulist w-list-unstyled">
          <li class="mainmenulink">
            <a href="/" aria-current="page" class="mainmenulink w--current"
              >Home</a
            >
          </li>
          <li class="mainmenulink">
            <a href="/login" class="mainmenulink"
              >Login Cliled Difusión</a
            >
          </li>
          <li class="mainmenulink">
            <a href="/registro" class="mainmenulink">Registro Cliled Difusión</a>
          </li>
          <li class="mainmenulink">
            <a href="/contacto" class="mainmenulink">Contacto</a>
          </li>
          <li class="mainmenulink">
            <a href="/como-funciona" class="mainmenulink">¿Cómo funciona?</a>
          </li>
          <li class="mainmenulink">
            <a href="/gana-con-nosotros" class="mainmenulink">Gana con nosotros</a>
          </li>
          <li class="mainmenulink">
            <a href="/precio" class="mainmenulink">Precio</a>
          </li>
          <li class="mainmenulink">
            <a href="/quienes-somos" class="mainmenulink">¿Quiénes somos?</a>
          </li>
        </ul>
      </div>
    </nav>
    <main>
      <header class="grid hero herotext">
        <h1 id="w-node-_6f8c88d9-398b-e8e4-7d68-f8e4b35a4965-b35a4964" class="heading-2">Contactanos</h1>
        <div id="w-node-_6f8c88d9-398b-e8e4-7d68-f8e4b35a4967-b35a4964" class="herotextcaption">Detalles del Contacto
        </div>
      </header>
      <section id="Introduction" class="module">
        <div class="grid">
          <div id="w-node-_89d00988-dba2-bc68-2b2e-9574da2a8233-66949cb4" class="sidenote sidenoteintro w-richtext">
            <ol start="" role="list">
              <li><a href="#contact">Contacto</a></li>
              <li><a href="#people">Redes Sociales</a></li>
              <li><a href="#jobs">Empleo</a></li>
            </ol>
          </div>
          <p id="w-node-_64ae6343-a940-b1f6-e5c4-382466949cb7-66949cb4" class="introductiontext">¡Bienvenidos a Cliled!
            Somos tu socio digital en automatización, marketing y software. Aunque operamos exclusivamente en línea,
            esto significa mayor flexibilidad y acceso a talento global para ofrecerte soluciones personalizadas y
            precios competitivos. ¡Déjanos potenciar tu éxito en el mundo digital!.</p>
        </div>
      </section>
      <aside class="fullbleed">
        <div id="w-node-_1fa86436-1875-9148-fe1e-a7fd28b8c569-16ae6964" class="grid module contactform">
          <h2 id="contact" class="w-node-_6dc5b488-f4bc-f1c0-0994-8fcad96af56e-16ae6964">Contacto</h2>
          <div id="w-node-ff760cc5-936f-9fe9-f921-600516ae6972-16ae6964" class="contactform w-form">
            <form id="wf-form-Contact-Form" name="wf-form-Contact-Form" data-name="Contact Form" method="POST"
              action="{% url 'contacto_cliled' %}" enctype="multipart/form-data" class="grid formgrid">
              {% csrf_token %}
              {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
              <div id="contact" class="contactheader w-node-ff760cc5-936f-9fe9-f921-600516ae6965-16ae6964 w-richtext">
              </div>
              <div id="contactFormFields" class="formfields w-node-_8d640360-dd6d-a564-7789-5acd600c9cba-16ae6964">
                <label for="name" id="w-node-ff760cc5-936f-9fe9-f921-600516ae6974-16ae6964">Nombre Completo</label>
                <input class="fieldtext w-node-ff760cc5-936f-9fe9-f921-600516ae6976-16ae6964 w-input" maxlength="256"
                  name="name" data-name="name" placeholder="Chrisitan Tamayo" type="text" id="name" required="" />
                <label for="email" id="w-node-ff760cc5-936f-9fe9-f921-600516ae6977-16ae6964">Direccion de Correo
                  electrónico</label>
                <input class="fieldtext w-node-ff760cc5-936f-9fe9-f921-600516ae6979-16ae6964 w-input" maxlength="256"
                  name="email" data-name="email" placeholder="@" type="email" id="email" required="" />
                <label for="phone">Numero de Teléfono</label>
                <input class="fieldtext w-input" maxlength="256" name="phone" placeholder="+" type="text" id="phone" />
                <label for="phone-2">Tu interés</label>
                <div class="fieldcheckboxesset">
                  <label class="w-checkbox filedcheckboxes">
                    <input type="checkbox" name="Marketing" id="Marketing" data-name="Marketing"
                      class="w-checkbox-input fieldcheckbox" />
                    <span class="checkbox-label w-form-label" for="strategy">Marketing</span>
                  </label>
                  <label class="w-checkbox filedcheckboxes">
                    <input type="checkbox" name="Automatizaciones" id="Automatizaciones"
                      class="w-checkbox-input fieldcheckbox" />
                    <span class="checkbox-label w-form-label" for="design">Automatizaciones</span>
                  </label>
                  <label class="w-checkbox filedcheckboxes">
                    <input type="checkbox" name="Software" id="Software" class="w-checkbox-input fieldcheckbox" />
                    <span class="checkbox-label w-form-label" for="digital">Software</span>
                  </label>
                  <label class="w-checkbox filedcheckboxes">
                    <input type="checkbox" name="other" id="other" class="w-checkbox-input fieldcheckbox" />
                    <span class="checkbox-label w-form-label" for="other">Alguna otra</span>
                  </label>
                </div>
                <label for="message">Tu mensaje</label>
                <textarea id="message" name="message" maxlength="5000" data-name="field" placeholder="Ayúdame con..."
                  class="fieldtext fieldtextarea w-input"></textarea>
                <label class="w-checkbox filedcheckboxes fieldcheckboxesset">
                  <input type="checkbox" name="gdpr" id="gdpr" data-name="gdpr" required=""
                    class="w-checkbox-input fieldcheckbox" />
                  <span class="checkbox-label w-form-label" for="gdpr">Al presionar enviar, aceptas que tu información
                    sea procesada de acuerdo con nuestra política de privacidad. <a
                      href="{% url 'privacidad' %}">Politica de Privacidad</a>.</span>
                </label>
              </div>
              <input type="submit" value="Enviar" />
            </form>


        </form>
        <div class="formmessage w-form-done">
          <div>Thank you! Your submission has been received, we will get back to you shortly.</div>
        </div>
        <div class="formmessage formerror w-form-fail">
          <div>Please check the fields above and try again.</div>
        </div>
  </div>
  </div>
  </aside>
  <style>
    body {
      margin: 0;
      padding: 0;
      overflow-x: hidden; /* Evita que la página se haga demasiado ancha */
    }
  
    #people {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  
    .grid {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .icon {
      font-size: 100px; /* Aumenta el tamaño de los iconos */
      margin: 0 30px; /* Aumenta el espacio entre los iconos */
      cursor: pointer;
      transition: transform 0.3s ease;
    }
  
    .icon:hover {
      transform: scale(1.2);
    }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <div id="people"> 
    <div class="grid section">
      <i class="icon fab fa-instagram" onclick="window.open('https://instagram.com', '_blank');"></i>
      <i class="icon fab fa-google" onclick="window.open('https://g.co/kgs/X9tbT5U');"></i>
      <i class="icon fab fa-whatsapp" onclick="window.open('https://api.whatsapp.com/send?phone=523344577874&text=Soporte%20tecnico');"></i>
      <i class="icon fab fa-youtube" onclick="window.open('https://www.youtube.com/@Cliled-oficial');"></i>
    </div>
  </div>
  <div id="jobs">
    <div class="grid section">
      <div id="w-node-_7d4a6792-d000-dfbc-4806-980a2962872a-29628729">Empleo</div>
      <h2 id="w-node-_7d4a6792-d000-dfbc-4806-980a2962872c-29628729">Reclutamiento</h2><a
        id="w-node-da5688ed-9cb4-e554-05dc-fd7e68f5efe4-29628729" href="contact-us.html#" class="sectionlink"></a>
    </div>
    <section class="grid module">
      <div id="w-node-b2b6a64c-2ca6-0f1b-a9c7-864c4035a97c-fb34db26" class="sidenote w-richtext">
        <p>‍</p>
      </div>
      <div id="w-node-_740bb025-e7f4-d13e-f40f-ccb6239f5f7b-fb34db26" class="bodytext w-richtext">
        <p>Siempre estamos en busca de talento nuevo y diverso. Contratamos a personas que tengan experiencia en programación o que estén aprendiendo. También contratamos tanto a pasantes en estrategia como creativos. Si estás interesado en trabajar para Werklig, no dudes en enviar un mensaje y la información personal relevante a cliled.es.soporte@gmail.com. Revisamos todas las solicitudes y consultas, pero pedimos disculpas de antemano por no poder responder a todos.

          </p>
        <p>Cuando envíes archivos, por favor utiliza PDF y mantén el tamaño del archivo razonable</p>
      </div>
    </section>
  </div>
  
  <footer class="footer">
        
    <ul
      id="w-node-c44b4254-8990-cf09-02a1-3369758602c9-758602bb"
      role="list"
      class="grid footerlinks"
    >
      <li id="w-node-c44b4254-8990-cf09-02a1-3369758602ca-758602bb">
        <a
          href="/"
          aria-current="page"
          class="mainmenulink w--current"
          >Home</a
        >
      </li>
      <li id="w-node-c44b4254-8990-cf09-02a1-3369758602cd-758602bb">
        <a
          href="/login"
          class="mainmenulink"
          >Login Cliled Difusión</a
        >
      </li>
      <li id="w-node-c44b4254-8990-cf09-02a1-3369758602d0-758602bb">
        <a href="/registro" class="mainmenulink"
          >Registro Cliled Difusión</a
        >
      </li>
      <li id="w-node-c44b4254-8990-cf09-02a1-3369758602d3-758602bb">
        <a
          href="/contacto"
          class="mainmenulink"
          >Contacto</a
        >
      </li>
      <li id="w-node-c44b4254-8990-cf09-02a1-3369758602d6-758602bb">
        <a href="/como-funciona" class="mainmenulink"
          >¿Cómo funciona?</a
        >
      </li>
      <li id="w-node-c44b4254-8990-cf09-02a1-3369758602d6-758602bb">
        <a href="/gana-con-nosotros" class="mainmenulink"
          >Gana con nosotros</a
        >
      </li>
      <li id="w-node-c44b4254-8990-cf09-02a1-3369758602d6-758602bb">
        <a href="/precio" class="mainmenulink"
          >Precio</a
        >
      </li>
      <li id="w-node-c44b4254-8990-cf09-02a1-3369758602d6-758602bb">
        <a href="/quienes-somos" class="mainmenulink"
          >¿Quiénes somos?</a
        >
      </li>
    </ul>
  </footer>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=61bdfd63c9edd69068489257"
    type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
  <script src="https://assets-global.website-files.com/61bdfd63c9edd69068489257/js/webflow.e06971cce.js"
    type="text/javascript"></script>
  <script>
    //hide placeholder images
    document.querySelectorAll('img').forEach((img) => {
      if (/pixel\.gif/gm.test(img.src)) {
        //img.style.opacity = 0;
        //img.style.height = 0;
        img.parentNode.removeChild(img);
      } else if (img.hasAttribute('alt-sizes')) {
        let sizes = img.getAttribute('alt-sizes');
        img.setAttribute('sizes', sizes);
      }
    });
    //remove zero-width filler + clean up
    document.querySelectorAll('p').forEach((p) => {
      if (/[\u200B-\u200D\uFEFF]/gm.test(p.innerText)) {
        let daddy = p.parentNode;
        daddy.removeChild(p);
        if (!daddy.children.length) {
          daddy.parentNode.removeChild(daddy);
        }
      }
    });
  </script>
</body>

</html>